<head>
  <style>
   
   
  </style>
</head>
<link href='/css/table.css' rel='stylesheet' type="text/css">
<div class="table">
   
   
  <input type="month" id="dateConst">
  <input type="submit" value="wybierz" id="sub">
  <input type="button"  value="drukuj" id="printButton">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">data</th>
          <th scope="col">godzina</th>
          <th scope="col">intencja</th>
          <th scope="col">opis</th>
        </tr>
      </thead>
      <tbody>

      
        <%
        
      
         for(var i =0; i < advert.length; i++) {
            
             %> 
            
         
        <tr class='<%=advert[i].completed%>'>
          <th scope="row"><%= advert[i].completed %></th>
          <td><%= advert[i].time%></td>
          <td><%= advert[i].title %></td>
          <td><%= advert[i].description %></td>

          <td></td>
        </tr>   

        <% } %> 
      </tbody>
    </table>
    <div class="info border-danger">Wprowadź dane!</div>
<script src="/js/advertSort.js"></script>
    </div>